<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BaseUrl" connectionString="http://localhost:15247/" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey
      decryption="AES"
      decryptionKey="85607E41A59593013F9042570448DFD06A75347052FB203EEFAF50EA4E1E0CDB"
      validation="HMACSHA256"
      validationKey="2EDD1F0FAE8BD3780D2F7559775CB3BD95701CF87B4FAA4A22D2FE019D09F9E30D85DD8E5F0261DC468BC41999AD199AB271EAE25E937D08CDAFADBB72B3D639"
      />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

